@import "libs/_normalize";
@import "helpers/_misc";
@import "helpers/_mixin-clearfix";

$black: #222;
$darkGreen: #4F643B;
$sans: 'Theinhardt-Bold', "Helvetica Neue", Sans-Serif;
$serif: Georgia, "Times New Roman", Serif;
$script: 'Verveine-Regular', $serif;
$margin: 40px;

html{
	font-size: 13px;
	background: #F9F9F9 url('../images/grid-lines.png') repeat top left;
}

@import "ui/_slideshow";
@import "ui/_nav";

.hide{
	display: none !important;
}
