@import "libs/_normalize";
@import "libs/_leaflet";

$black: #222;
$sans: "Helvetica Neue", Sans-Serif;
$serif: Georgia, "Times New Roman", Serif;

@import "ui/_map";
@import "ui/_nav";

html{
	font-size: 13px;
}

#left{
	width: 50%;
}

.hide{
	display: none;
}