<div class="bg">
    <div class="left">
        <div class="division">
            <div class="border"></div>
            <div class="value">AA</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">BB</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">CC</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">DD</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">EE</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">FF</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">GG</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">HH</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">II</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">JJ</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">KK</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">LL</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">MM</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">NN</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">OO</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">PP</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">QQ</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">RR</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">SS</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">TT</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">UU</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">VV</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">WW</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">XX</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">YY</div>
        </div>
        <div class="division">
            <div class="border"></div>
            <div class="value">ZZ</div>
        </div>
    </div>
    <div class="top">
        <div class="division">
            <div class="border"></div>
            <span class="value">01</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">02</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">03</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">04</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">05</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">06</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">07</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">08</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">09</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">10</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">11</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">12</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">13</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">14</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">15</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">16</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">17</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">18</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">19</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">20</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">21</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">22</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">23</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">24</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">25</span>
        </div>
        <div class="division">
            <div class="border"></div>
            <span class="value">16</span>
        </div>
    </div>
</div>