{block:Photoset}
  <div class="internal">
    <div class="photoset-grid" data-layout="{PhotosetLayout}" data-id="photoset{PostID}">
      {block:Photos}
        <img src="{PhotoURL-500}"
          {block:HighRes}data-highres="{PhotoURL-HighRes}"{/block:HighRes}
          width="{PhotoWidth-500}" height="{PhotoHeight-500}"
          {block:Caption}alt="{Caption}"{/block:caption} />
      {/block:Photos}
    </div>
  </div>
    {block:Caption}
      <div class="photoset-caption caption">{Caption}</div>
    {/block:Caption}
    {% include meta.html %}
{/block:Photoset}
