{block:Photoset}
    {block:Photos}
        <div class="photoset-photo">
          <a class="image" style="background-image: url('{PhotoURL-400}');" data-photourl500="{PhotoURL-400}" {block:HighRes}data-highres="{PhotoURL-HighRes}"{/block:HighRes}></a>
        {block:Caption}
            <div class="photo-caption">{Caption}</div>
        {/block:Caption}
      </div>
    {/block:Photos}
    {block:Caption}
      <div class="photoset-caption">{Caption}</div>
    {/block:Caption}
{/block:Photoset}
