.bg{
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	width: 100%;
	pointer-events: none;
	.top{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 10000px;
		.division{
			float: left;
			width: 239px;
			text-align: center;
			border-right: 1px solid #AAA;
			font: 400 11px/20px Sans-Serif;
			@include opacity(.3);
		}
	}
	.left{
		position: absolute;
		left: 0px;
		top: 0px;
		.division{
			font: 400 11px/239px Sans-Serif;
			border-bottom: 1px solid #AAA;
			padding: 0px 2px;
			@include opacity(.3);
		}
	}
}