@import "compass/css3/inline-block";

#nav{
	position: relative;
	z-index: 1;
	h1.logo{
		font: 600 100px/100px $serif;
		padding: 30% 30% 0% 30%;
		margin: 0px;
		text-align: center;
		img{
			max-width: 100%;
		}
		.break{
			display: block;
		}
		a{
			text-decoration: none;
			color: $black;
		}
	}
	p{
		text-align: center;
		margin: 40px 26%;
		font: 400 18px/22px $serif;
		color: #AAA;
	}
	ul{
		margin: 0px;
		padding: 0px;
		position: absolute;
		bottom: 40px;
		left: 20px;
		right: 20px;
		a{
			color: $black;
		}
	}
	hr{
		border: 0px;
		height: 1px;
		background-color: $black;
		margin: 40px 160px 0px;
	}
}
#fixed-nav, 
#nav{
	ul{
		text-align: center;
		li{
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			@include inline-block;
			margin-right: 20px;
			a{
				text-decoration: none;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}
#fixed-nav{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 50%;
	background-color: $black;
	height: 72px !important;
	ul{
		position: static;
		margin-top: 20px;
		li{
			a{
				color: #FFF;
			}
		}
	}
	h1, p{
		display: none;
	}
}