.post{
	position: relative;
	z-index: 10;
	margin-bottom: 240px;
	@include breakpoint(mobile){
		margin-bottom: 60px;
	}
}

.post.photo{
	width: 100%;
	.image{
		img{
			display: block;
			width: 100%;
		}
	}
}
.post.quote{
	width: 480px;
	@include breakpoint(mobile){
		width: 100%;
	}
	.internal{
		padding: 40px;
		min-height: 160px;
		background: $darkGreen url(../images/bg-topographic.png) repeat;
		background-attachment: fixed;
		color: #FFF;
		text-align: center;
	}
	blockquote{
		margin: 0px;
		padding: 0px;
		font: 400 24px/30px $serif;
	}
	p.source{
		margin: 0px;
		padding: 0px;
		margin-top: 20px;
		a{
			color: #FFF;
		}
	}
}

.meta{
	width: 240px;
	height: 240px;
	background-color: #FF3300;
}


.post.photoset{
	max-width: 960px;
	.internal{
		background-color: #EEE;
		padding: 20px;
	}
}

.caption{
	background-color: #FFF;
	max-width: 400px;
	padding: 20px 40px;
	font: 400 16px/20px $serif;
}

.post.video{
	.internal{
		max-width: 720px;
		background-color: $black;
		.video{
			padding: 10px;
		}
	}
}

.post.text{
	.body{
		padding: 20px;
		width: 680px;
		float: left;
		background-color: #FFF;
		font: 400 17px/20px $serif;
	}
	h1{
		font: 400 36px/34px $sans;
		display: block;
		float: left;
		width: 240px;
		height: 240px;
		background-color: #444;
		text-align: center;
		margin: 0px;
		position: relative;
		background: $darkGreen url(../images/bg-topographic.png) repeat;
		a{
			color: #FFF;
			display: block;
			position: absolute;
			top: 80px;
			left: 0px;
			right: 0px;
			text-decoration: none;
		}
	}
}
