<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kastos Villas</title>
        {% include _head.html %}
    </head>
    <body class="index">
      <a class="logo logo--white" href="/"></a>
      <div class="slideshow js-view" data-view="Slideshow">
        <div class="slideshow-arrow slideshow-arrow--left js-previous-image"><div>
        <div class="slideshow-arrow slideshow-arrow--right js-next-image"><div>
        <script type="application/json" class="js-slideshow-data">
        {
          "images": [{
            "src": "/assets/images/slideshow-1.jpg"
          },{
            "src": "/assets/images/slideshow-2.jpg"
          },{
            "src": "/assets/images/slideshow-3.jpg"
          },{
            "src": "/assets/images/slideshow-4.jpg"
          },{
            "src": "/assets/images/slideshow-5.jpg"
          },{
            "src": "/assets/images/slideshow-6.jpg"
          },{
            "src": "/assets/images/slideshow-7.jpg"
          }]
        }
        </script>
      </div>
      {% include _nav.html %}
      {% include _js.html %}
    </body>
</html>
