<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Kastos Villas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fnt.webink.com/wfs/webink.css/?project=0BADA175-F295-4A56-A42B-3012F444F1ED&fonts=82DA4627-8191-9CE4-706C-58F3C2615A95:f=Theinhardt-Bold,008579D7-00D8-1E34-1306-843EC6BC82EA:f=Theinhardt-Light" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.assets_dir }}/css/style.css">
    </head>
    <body>
        <div id="fixed-nav" class="hide">
            <ul>
                <li><a href="#">About the Island</a></li>
                <li><a href="#">About the Villas</a></li>
                <li><a href="#">Accommodation</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div id="left">
            <div id="nav" class="window-height js-extend" data-view="NavView">
                <h1 class="logo"><a href="/"><img src="{{ site.assets_dir }}/images/logo-black.png"></img></a></h1>
                <p>What the island lacks in size, it makes up for in charm. Kastos is off the beaten track, barely touched by tourism and therein lies the appeal of this sleepy island paradise.</p>
                <ul>
                    <li><a href="#">About the Island</a></li>
                    <li><a href="#">About the Villas</a></li>
                    <li><a href="#">Accommodation</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="empty window-height"></div>
            <div id="posts">
                {block:Posts}
                <div class="post" id="post_{PostID}" data-id="{PostID}">

                </div>
                {/block:Posts}
            </div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
            <div class="empty window-height"></div>
        </div>
        
        <div id="map" class="js-extend" data-view="MapView"></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFxhN4iTpS2CXEj-VZiQ9XYYeFKuzI7k&sensor=false"></script>
        <script type="text/javascript" src="{{ site.assets_dir }}/js/libs.js"></script>
        <script type="text/javascript" src="{{ site.assets_dir }}/js/app.js"></script>
        <script>
            window.KastosVillas.App.init();
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
